<section>
  <article>
    <ul>
      <li *ngFor="let m of errorMessages">{{m}}</li>
    </ul>
    
    </article>

  <div class="row">
    <div class="form-group">
      <input type="hidden" [value]="pessoa.id"/>
      <label for="">Nome:</label>
      <input type="text" [(ngModel)]="pessoa.nome" class="form-control"/>
    </div>
    <div class="form-group ml-2">
        <label for="">Idade:</label>
        <input type="hidden" [value]="pessoa.id"/>
        <input type="text" [(ngModel)]="pessoa.idade" class="form-control"/>
      </div>
  </div>
  <div class="row">
    <button *ngIf="pesquisaPermitida" (click)="pesquisarPessoaByNome()" class="btn btn-primary">Pesquisar</button>
    <button (click)="limparPessoa()" class="btn btn-primary ml-2">Limpar</button>
    <button *ngIf="inclusaoPermitida" (click)="inserirPessoa()" class="btn btn-primary ml-2">Inserir</button>
  </div>


</section>

